<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
</head>
<body>
    <form method="post">
        <label> Nome da Musica: </label>
        <input type="text" name="txtName">

        <label for=""> Cantor Banda: </label>
        <input type="text" name="txtCantor">

        <label for=""> Genero: </label>
        <input type="text" name="txtGenero">

        <button type="submit"> Cadastrar Musica</button>

    </form>
</body>
</html>