{% extends "padrao.html" %}
<!-- usamos herança com flask aqui dizendo qual pagina é a padrao-->

 <!--agora vamos dinamizar o conteudo conforme abaixo usando um bloco de conteudo-->
 {% block conteudo%}<!--inicio do bloco-->
<table class="table table-hover ">
    <thead class="table-dark">
        <tr>
            <th> Nome da Musica</th>
            <th> Cantor / Banda</th>
            <th> Genero</th>
        </tr>
    </thead>

    <tbody> 
        {% for musicaatual in musicas%}
        <tr>
            <td>{{musicaatual.nome}}</td>
            <td>{{musicaatual.cantorBanda}}</td>
            <td>{{musicaatual.genero}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}<!-- fim do bloco-->